/* GENERAL */
.posts {
  margin-bottom: 5rem;
}
.post .spinner img, .posts .spinner img{
  width: 200px;
}
.post .spinner, .posts .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
/* ADD POST */
.addpost form {
  box-shadow: 1px 2px 10px 0 rgba(46,61,73,.2);
  background-color: #f3f3f3;
  padding: 1rem;
}
.addpost .field {
  padding: 1rem;
}
/* POST ITEM */
.postitem {
  position: relative;
  display: flex;
  box-shadow: 1px 2px 10px 0 rgba(46,61,73,.2);
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 2rem 0;
}
.postitem .profile, .commentitem .profile {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.postitem .profile img, .commentitem .profile img {
  border-radius: 10rem;
  width: 5rem;
}
.postitem .profile .data, .commentitem .profile .data {
  padding: 1rem;
}
.postitem .profile h4, .commentitem .profile h4 {
  font-size: 0.9rem;
  width: 10rem;
  padding: 0.5rem 0;
}
.postitem .profile h3, .commentitem .profile h3 {
  font-style: italic;
  font-size: 0.9rem;
  color: #17a2b8;
}
.postitem .postcontent, .commentitem .postcontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}
.postitem .postcontent p, .commentitem .postcontent p {
  font-size: 1rem;
}
.postitem .social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.postitem .social p {
  margin-left: 1rem;
}
.postitem .social a {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #17a2b8;
  color: white;
  border-radius: 1rem;
}
.postitem .like {
  display: flex;
}
.postitem .like i {
  color: #17a2b8;
  cursor: pointer;
}
.postitem .postdelete {
  position: absolute;
  top:5px;
  right: 5px;
  margin-top: 0.5rem;
}
.postitem .postdelete span {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.postitem .postdelete span:hover {
  background-color: #3a686f;
  color: white;
}

/* COMMENT ITEM */
.displaycomment {
  text-align: right;
  cursor: pointer;
}
.comment {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-end;
}
.comment .commentitem  {
  display: flex;
  position: relative;
  box-shadow: 1px 2px 10px 0 rgba(46,61,73,.2);
  background-color: #f3f3f3;
  padding: 1rem;
  margin: 0.5rem 0;
}
.comment .commentitem .postcontent {
  align-items: flex-end;
  align-self: center;
}
.comment .commentinfo {
  position: absolute;
  background-color: #17a2b8;
  color: white;
  z-index: 200;
  top: 0;
  right: 3rem;
  padding: 0.5rem 1rem;
}
.comment .commentinfo p {
  text-align: right;
}
.comment .commentdelete {
  position: absolute;
  top:5px;
  right: 5px;
  margin-top: 0.5rem;
}
.comment .commentdelete span {
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.comment .commentdelete span:hover {
  background-color: #3a686f;
  color: white;
}
/* POST DETAIL */
.post .margin {
  padding: 7rem 0;
}
