/* PROFILE LIST */
.profiles {
  margin-bottom: 5rem;
}
.profiles .spinner, .profile .spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7rem;
}
.profiles .spinner img, .profile .spinner img{
  width: 200px;
}
.profiles h3 {
  font-size: 1rem;
  text-align: center;
}
/* PROFILE LIST ITEM */
.profileItem {
  position: relative;
  display: flex;
  box-shadow: 1px 2px 10px 0 rgba(46,61,73,.2);
  margin: 2rem 1rem;
  overflow: hidden;
  height: 10rem;
  transition: box-shadow 0.2s ease;
  color: black;
}
.profileItem:hover {
  box-shadow: 1px 1px 5px 0 rgba(46,61,73,.2);
}
.profileItem .image img {
  height: 10rem;
  width: 10rem;
}
.profileItem .title {
  display: flex;
  align-items: baseline;
}
.profileItem .title h4 {
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.profileItem .title h5 {
  font-size: 1rem;
  color: #17a2b8;
  font-style: italic;
}
.profileItem p {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.profileItem .company {
  font-size: 1rem;
  color: grey;
}
.profileItem .company span {
  font-size: 1rem;
  font-weight: bold;
  color: #17a2b8;;
}
.profileItem .skills {
  margin: 1rem 0;
}
.profileItem .skills span {
  background-color: #17a2b8;
  color: white;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
}
.profileItem .bio {
  font-style: italic;
}
.profileItem .button {
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  height: 10rem;
}
.profileItem .button .link {
  padding: 1rem;
  font-size: 1rem;
}
.profileItem .button  i {
  font-size: 1rem;
  margin-right: 2rem;
  color: #094c56;
}
/* INDIVIDUAL PROFILE */
.profile h6 {
  font-size: 1rem;
  padding: 1rem;
  font-weight: bold;
}
.profile h6 span {
  color: white;
}
/* INDIVIDUAL PROFILE HEADER */
.profileheader {
  display: flex;
  padding-top: 7rem;
  border-top: 1px solid white;
  background-color: #55b4c3;
}
.profileheader .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileheader img {
  border-radius: 15rem;
}
.profileheader h1 {
  margin: 1rem;
  font-size: 4rem;
  color: white;
  font-weight: bold;
}
.profileheader h3 {
  font-size: 2rem;
}
.profileheader h3 span{
  color: #094c56;
  font-style: italic;
}
.profileheader h4 {
  margin: 1rem;
  font-size: 1.5rem;
}
.profileheader .icons {
  margin-bottom: 2rem;
}
.profileheader .icons a {
  font-size: 1rem;
  color: white;
  padding: 1rem;
}
/* INDIVIDUAL PROFILE ABOUT */
.profileabout .content {
  margin-bottom: 5rem;
}
.profileabout .row {
  display: flex;
  justify-content: space-between;
}
.profileabout .element {
  width: 50%;
}
.profileabout h3 {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  color: #094c56;
}
.profileabout .bio, .profileabout .skillsset {
  border: 1px solid #d7dae2;
  background-color: #f3f3f3;
  margin: 2rem 1rem;
  padding: 1rem;
}
.profileabout .skillsset  {

}
.profileabout .skills, .profileabout .skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profileabout .skills {
  margin-top: 1rem;
}
.profileabout .bioparagraph {
  padding: 1rem;
}
.profileabout .bio p {
  font-size: 1rem;
  margin-top: 1rem;
}
.profileabout .skill {
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  color: white;
  background-color: #17a2b8;
  border-radius: 1rem;
}
.profileabout .skill h4 {
  margin-left: 1rem;
}
