/* General */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
/* NavBar */
.navbar {
  position: fixed;
  display: flex;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
.navbar a {
  color: white;
  font-size: 1rem;
  padding: 1rem;
}
.navbar .usermenu {
  display: flex;
  align-items: center;
}

.navbar .usermenu img {
  border-radius: 1rem;
}

/* Landing && General*/
.landing {
  position: relative;
  z-index: 1;
  background: url('../utils/images/showcase.jpg') no-repeat;
  height: 1000px;
}
.dark {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing h1, .landing h2, .landing .register {
  position: relative;
  text-align: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.landing h1 {
  padding-top: 10rem;
  font-size: 5rem;
}
.landing h2 {
  padding: 3rem;
  font-size: 1.5rem;
  font-style: italic;
}
.greenbtn, .whitebtn {
  width: 8rem;
  padding: 1rem;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: #dcdcdc;
  font-size: 1rem;
}
.greenbtn {
  background-color: #17a2b8;
  color: white;
}
.greenbtn:hover {
  background-color: #138496;
}
.whitebtn:hover {
  background-color: #c1c1c1;
}

/* Register */
.auth h1, .auth h2 {
  position: relative;
  text-align: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth h1 {
  padding-top: 7rem;
  font-size: 5rem;
}
.auth h2 {
  padding: 3rem;
  font-size: 1.5rem;
  font-style: italic;
}
.auth form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 5rem 0;
}
.auth form .field {
  position: relative;
}
.auth form input {
  width: 20rem;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #cccbcb;
  border-radius: 1rem;
  margin: 0.5rem;
}
.questionicon {
  position: absolute;
  font-size: 1rem;
  color: #17a2b8;
  right: 7%;
  bottom: 40%;
}
.popup-content {
  border-radius: 0.5rem;
  box-shadow: none;
}
.card {
  padding: 1rem;
}
.card .header {
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
  color: #17a2b8;
}
.card .content {
  width: 100%;
  padding-top: 1rem;
}
.auth form button {
  width: 22rem;
  height: 3rem;
  padding: 0 1rem;
  border: 1px solid #cccbcb;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #17a2b8;
  color: white;
}
.auth form input:focus{
  outline:none;
  border: 1px solid #8d8def;
}

.auth form .invalid{
  outline:none;
  border: 2px solid #d63c1b;
}
.auth form p {
  color: red;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
/* Profile*/
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard h1 {
  padding-top: 7rem;
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
}
.dashboard h2 {
  padding-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #17a2b8;
}

.dashboard p {
  padding-top: 3rem;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
}

.dashboard .btn {
  display: flex;
  justify-content: center;
  width: 12rem;
  padding: 1rem;
  margin: 3rem auto;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
  background-color: #17a2b8;
  color: white;
}

/* Footer */
footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
footer p {
  text-align: center;
  color: white;
}
